body {
  display: flex;
  justify-content: center;
  background-color: #e6ba95;
}
.bound {
  font: 1rem "Fira Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: 1px solid black;
  width: 60%;
  background-color: #fafdd6;
  border-radius: 36px;
  gap: 8px;
}

.bottom {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

input {
  margin: 0.4rem;
}

label {
  font-weight: bold;
}

.btn {
  background-color: #e4e9be;
  color: black;
  border: 2px solid #555555;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover {
  background-color: #a2b38b;
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: white;
  flex-wrap: wrap;
}

.grid div {
  box-sizing: border-box;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  transition-duration: 0.4s;
}

.grid div:hover {
  background-color: #a2b38b;
}
